<div class="col-lg-3 col-md-12">

    <!--====== Dashboard Features ======-->
    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
        <div class="dash__pad-1">

            <span class="dash__text u-s-m-b-16">Hello, <%= data.name %></span>
            <ul class="dash__f-list">
                <li>

                    <a href="/dashboard">Manage My Account</a>
                </li>
                <li>

                    <a href="/dashboard/profile">My Profile</a>
                </li>
                <li>

                    <a href="/dashboard/address">Address Book</a>
                </li>
                <li>

                    <a href="/dashboard/orders">My Orders</a>
                </li>
            </ul>
        </div>
    </div>
    <!--====== End - Dashboard Features ======-->
</div>