<!--====== Main App ======-->
<div id="app">
    <!--====== App Content ======-->
    <div class="app-content">

        <!--====== Section 1 ======-->
        <%- include('./dashboard_partial/dashboard_nav.ejs'); %>


        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

            <!--====== Section Content ======-->
            <div class="section__content">
                <div class="dash">
                    <div class="container">
                        <div class="row">
                            <%- include('./dashboard_partial/dashboard_left.ejs'); %>
                            <div class="col-lg-9 col-md-12">
                                <div
                                    class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                    <div class="dash__pad-2">
                                        <h1 class="dash__h1 u-s-m-b-14">Manage My Account</h1>

                                        <span class="dash__text u-s-m-b-30">From your My Account Dashboard you have the
                                            ability to update your
                                            account information. Select a link below to view or edit information.</span>
                                        <div class="row">
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                                    <div class="dash__pad-3">
                                                        <h2 class="dash__h2 u-s-m-b-8">PERSONAL PROFILE</h2>
                                                        <div class="dash__link dash__link--secondary u-s-m-b-8">

                                                            <a href="/dashboard/editprofile">Edit</a>
                                                        </div>

                                                        <span class="dash__text">
                                                            <%= data.name || "N/A" %>
                                                        </span>

                                                        <span class="dash__text">
                                                            <%= data.email || "N/A" %>
                                                        </span>
                                                        <!-- <div class="dash__link dash__link--secondary u-s-m-t-8">

                                                                <a data-modal="modal" data-modal-id="#dash-newsletter">Subscribe Newsletter</a>
                                                            </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 u-s-m-b-30">
                                                <div class="dash__box dash__box--bg-grey dash__box--shadow-2 u-h-100">
                                                    <div class="dash__pad-3">
                                                        <h2 class="dash__h2 u-s-m-b-8">ADDRESS BOOK</h2>
                                                        <div class="dash__link dash__link--secondary u-s-m-b-8">
                                                            <a href="/dashboard/address">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->
    </div>
    <!--====== End - App Content ======-->
</div>
<!--====== End - Main App ======-->